<a href="https://colab.research.google.com/github/lpdiego/TP_Proyecto_Profesional_I_Grupo_11/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción

# Imports

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
import joblib
from google.colab import drive

# Conexión con Drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Importación de datos desde Drive

In [ ]:
mail_data = pd.read_csv('/content/drive/My Drive/Machine Learning TP/Datasets/Mails/mail_data.csv')

# Separación de datos

Como podemos ver, las categorias de la columna Category estan en representadas por los strings "ham" y "spam", por lo que es necesario convertirlas a un valor numérico para facilitar la resolución.

In [ ]:
mail_data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

En esta parte del código, entonces, modificamos a mail_data para que tenga valores numéricos en su categorización. Para los mensajes que son spam, se tendrá como representación al número 1 y para los que no son spam, el número 0.

In [ ]:
mail_data = pd.get_dummies(data = mail_data, columns=['Category'], drop_first=True)
mail_data

                                                Message  Category_spam
0     Go until jurong point, crazy.. Available only ...              0
1                         Ok lar... Joking wif u oni...              0
2     Free entry in 2 a wkly comp to win FA Cup fina...              1
3     U dun say so early hor... U c already then say...              0
4     Nah I don't think he goes to usf, he lives aro...              0
...                                                 ...            ...
5567  This is the 2nd time we have tried 2 contact u...              1
5568               Will ü b going to esplanade fr home?              0
5569  Pity, * was in mood for that. So...any other s...              0
5570  The guy did some bitching but I acted like i'd...              0
5571                         Rofl. Its true to its name              0

[5572 rows x 2 columns]

In [ ]:
mail_data.groupby("Category_spam").describe()
#Aca se puede ver como hay 4825 mensajes que no son spam, y 747 que si lo son

              Message         \
                count unique
Category_spam
0                4825   4516
1                 747    641


                                                             top freq
Category_spam
0                                         Sorry, I'll call later   30
1              Please call our customer service representativ...    4

Ahora que tenemos los datos como queremos, los separamos para entrenar al modelo. Para el testeo usaremos el %20 de los datos.

In [ ]:
X = mail_data.drop(columns = "Category_spam") #Esto tambien puede ser reemplazado por mail_data["Message"] debido a que solo tenemos dos columnas.
y = mail_data["Category_spam"]

X_train, X_test, y_train, y_test = train_test_split(mail_data.Message, mail_data.Category_spam, test_size = 0.2)

In [ ]:
CV = CountVectorizer()
X_train_count = CV.fit_transform(X_train.values)

# Creación y entrenamiento del modelo

In [ ]:
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

# Evaluación del modelo

In [ ]:
X_test_count = CV.transform(X_test)
test = model.predict(X_test_count)
#for i in test:
#    if i == 0:
#        print("ham")
#    elif i == 1:
#        print("spam")

Aqui mostramos la precision del modelo. El valor mostrado puede cambiar al correr el programa multiples veces ya que en la parte de separación de datos se pueden elegir otros valores para testeo y entrenamiento (ya que es una elección aleatoria).